
.carrossel__titulo{
    background-color: var(--branco);
    color: var(--preto);
    text-align: center;
    padding: 0.7rem;
    margin: 0.5rem;
    text-transform: uppercase;
}

.swiper-slide {
    width: 300px;
    height: 300px;
}


.swiper-slide img {
    width: 100%;
    height: 100%;
    display: block;
    transition: 0.4s;
    border: 4px solid var(--branco);
}

.swiper-slide:hover img {
    opacity: 0.3;      
}

.sinopse {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background:var(--preto);
    color: #fff;
    padding: 10px;
    font-size: 0.85rem;
    opacity: 0;            
    transition: 0.4s;
}

.swiper-slide:hover .sinopse {
    opacity: 1;
}

.swiper-button-prev, .swiper-button-next{
    display: none;
}

.swiper-pagination {
    position: initial;
    padding: .5em 0;
}

.serie-item {
    position: relative;
    overflow: hidden;
}

@media (min-width: 768px) {

    .swiper-slide {
        width: 260px;
        height: 360px;
    }

    .sinopse {
        transition: 0.4s;
    }

    .swiper-slide:hover img {
        opacity: 0.3;
    }

    .swiper-slide:hover .sinopse {
        opacity: 1;
    }

    .swiper-button-prev,
    .swiper-button-next{
        display: none;
    }
}

@media (min-width: 1024px) {

    .swiper-slide {
        width: 300px;
        height: 420px;
    }

    .carrossel__titulo{
        padding: 1rem;
    }

    .sinopse {
        font-size: 0.9rem;
        padding: 1rem;
    }

    .swiper-pagination {
        padding: 1em 0;
    }
}


